html > * {
	box-sizing: border-box;
	background-color: rgb(30, 30, 30);
	padding: 0;
	margin: 0;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
	width: 70%;
	margin: 0 auto;
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 1fr 100px;
	grid-template-areas: "header" "main" "footer";
}

dialog[open] {
	background-color: rgb(50, 50, 50);
	color: white;
	padding: 2rem;
	width: 300px;
	height: 500px;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
}

dialog div {
	margin-bottom: 1rem;
}

dialog label {
	display: block;
	margin-bottom: 0.5rem;
}

dialog input {
	width: 100%;
	border-radius: 0.3rem;
	padding: 0.3rem;
	font-size: 1.2rem;
}

dialog input[type="checkbox"] {
	transform: scale(1.1);
	accent-color: grey;
}
.checkbox-div {
	display: flex;
	width: 10rem;
}

dialog div:last-of-type {
	display: flex;
	gap: 1rem;
}

.submit-div button {
	width: 50%;
	height: 2rem;
}

header {
	grid-area: header;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid gray;
}

header ul {
	display: flex;
	list-style: none;
	gap: 1rem;
}

header a {
	text-decoration: none;
	color: white;
}

header a:hover {
	font-weight: bold;
}

main {
	grid-area: main;
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-auto-rows: 300px;
	justify-content: center;
	margin-top: 3rem;
	gap: 1rem;
}

.bookCard {
	border: 2px solid grey;
	border-radius: 1rem;
	background-color: rgb(50, 50, 50);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.bookCard:hover {
	scale: 1.05;
}

.bookTitle {
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;
	padding: 1rem;
}

.bookBtn button {
	border-radius: 0.5rem;
	padding: 0.3rem 0.6rem;
	font-size: 1.1rem;
}

#bookBtnToggle:hover {
	background-color: grey;
	color: white;
}

#bookBtnDelete:hover {
	background-color: red;
}

footer {
	grid-area: footer;
}
